	{{ partial "head.html" . }}
	<body>
		{{ partial "nav.html" . }}

		<div class="content">
			<div class="home">
				
				{{ if isset .Site.Params "headerText" }}
				<div class="call-out" style="background-image: url('{{ .Site.BaseURL }}/img/{{ .Site.Params.headerImage }}')">
					{{ .Site.Params.headerText | markdownify }}
				</div>
				{{ end }}

				<article>
					<header>
						{{ .Site.Params.description }}
					</header>

					<section class="post-content">						
						<h2><a href="/contest">WriteUp</a></h2>
						<p>継続力がないのでこつこつと解説を書くのは諦めました．</p>
						<h2><a href="/library/menu">Library</a></h2>
						<p>こちらは充実させていきたい．</p>												
						<h2><a href="//github.com/cormoran/CompetitiveProgramming">GithubRepo</a></h2>
						<p>全ての記事・ソースコードはこのレポジトリからいい感じに生成しています．</p>
						<p>（なので時々変なのが紛れ込むことがある...）</p>

						<h2><a href="//blog.cormoran-web.com/blog/">Blog</a></h2>
						<p>競プロ記事以外はこちら</p>
					</section>
				</article>								
				{{ partial "footer.html" . }}
			</div>
		</div>
	</body>
</html>